<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Proyectos</h1>
        </div>
        <div class="row">
            <div class="col-sm-12  col-lg-8">
                <h2>Bar Comedor Munich Aldea Brasilera</h2>
                <p>Este es un proyecto para un Restaurante que ensta en desarrollo 
                    en este momemto por lo que no hay imagenes previas aun, se trata 
                    de dar soluciones a algunas de las problematicas planteadas por 
                    el cliente manteniendo una estetica tradicional del lugar y su historia
                </p>
            </div>
            <div class="col-sm-12  col-lg-4">
                
            </div>
        </div>
    </div>    
</div>