<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Proyectos</h1>
        </div>
        <div class="row">
            <div class="col-8">
                <h2>Proyecto 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, voluptatum aliquid dicta doloremque maiores corrupti soluta autem vitae? Consectetur exercitationem suscipit vel nisi? Dolorem quod dicta, aut explicabo atque dolore.
                </p>
            </div>
            <div class="col-4">
                <img src="../../../assets/munich.jpeg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h2>Proyecto 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, voluptatum aliquid dicta doloremque maiores corrupti soluta autem vitae? Consectetur exercitationem suscipit vel nisi? Dolorem quod dicta, aut explicabo atque dolore.
                </p>
            </div>
            <div class="col-4">
                <img src="../../../assets/munich.jpeg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h2>Proyecto 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, voluptatum aliquid dicta doloremque maiores corrupti soluta autem vitae? Consectetur exercitationem suscipit vel nisi? Dolorem quod dicta, aut explicabo atque dolore.
                </p>
            </div>
            <div class="col-4">
                <img src="../../../assets/munich.jpeg" alt="">
            </div>
        </div>    
    </div>
</div>