<div class="container-fluid">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-lg-3">
            <button type="button" class="btn btn-dark" routerLink="/nuevaeducacion" *ngIf="isLogged">
                Agregar Educacion
            </button>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-10"> 
            <table class="table">
                <tr *ngFor="let Educacion of educacion">
                    <td>{{Educacion.nombreE}}</td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" routerLink="/editeducacion/{{Educacion.id}}">
                            <i class="bi bi-pencil-square"></i>Editar
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" (click)="delete(Educacion.id)">
                            <i class="bi bi-eraser-fill"></i>Borrar
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>