<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3" id="foto">
            <img src="../../../assets/perfil.png" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-9">
            <h1 class="nombre">Heili Fabian Alejandro</h1>
            <h3 class="titulo">Web Developer Full Stack Junior</h3>
            <h1 class="acerca">Acerca de Mí</h1>
            <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia harum vel totam dolore odit non impedit corporis, a, nulla, ab mollitia nisi deserunt repellendus sed minima possimus quibusdam quos laudantium!</p>
        </div>
    </div>
</div>