<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Skills</h1>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <button type="button" class="btn btn-danger" routerLink="/nuevaskill" *ngIf="isLogged">
                Agregar Skill
            </button>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9"></div>
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let skill of skill" id="cuadro">
            <td *ngIf="isLogged">
                <button class="btn btn-danger" routerLink="/editskill/{{skill.id}}">
                <i class="bi bi-pencil-square"></i>
            </button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(skill.id)">
                <i class="bi bi-eraser-fill"></i>
            </button>
        </td>
            <circle-progress 
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [imageSrc]="''"
            [title]="(skill.nombre)"
            [titleColor]="'tomato'"
            [showTitle]="true"
            [showImage]="false"
            [imageWidth]="60"
            [imageHeight]="60"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'tomato'"
            [innerStrokeColor]="'tomato'"
            [animation]="true"
            [animationDuration]="1200">
            </circle-progress>
        </div>
    </div>
</div>